node_modules
dist
.next
.turbo
.env
.env.local
*.tsbuildinfo

# IDEs
.idea
.vscode

# OS
.DS_Store

.personal-docs
csv

apps/api/data/logs
apps/api/data/raw
# Deploy env-vars (segredos)
gcloud-env.yaml
.vercel
.env*
